html {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica';
}

#grid-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

#top-left * {
  margin: 5px 10px;
}

#top-right > input {
  border: 1px solid black;
  font-size: 12px;
  padding: 0.5em;
}

#top-right * {
  margin: 2px 10px;
  font-size: 14px;
}

#bottom-left * {
  margin: 0 10px
}

